.App {
  margin: auto;
  width: 80%;
  height: 100%;
  font-family: sans-serif;
    text-align: center;
    color: white;
}

body {
  background-color: black;
}

input {
    border-radius: 15px;
    display: -webkit-flex;
    width: 100%;
    text-align: right;
    color: black;
}

button {
    background-color: #f7b31c;
    /* Fill color */
    color: white;
    /* Text color */
    border-radius: 15px;
    /* Rounded button edges */
    font-style: italic;
    /* Italicize text */
    padding: 10px 30px;
    /* Distance between text and border */
}

.chart {
  width: 1000px;
  height: 500px;
  align-items: stretch;
  display: flex;
  margin: auto;
  padding: -30px;
}